  <div class="burger-menu-header-background layout-column"></div>
  <div class="burger-menu-header-content layout-column">
  <div class="layout-row layout-align-end">
    {{#paper-button onClick=(action close)}}
      {{paper-icon "close"}}
    {{/paper-button}}
  </div>

  {{#if user}}
    <div class="layout-column menu-header-user">
      <div class="layout-row layout-align-center">
        {{gravatar-image email=user.email
            title=user.email
            defaultImage='identicon'
            class='gravatar-image-circle-100'
            size=100
            retina=true}}
      </div>

      <div class="layout-row layout-align-center menu-header-user-email">
        <em>{{user.email}}</em>
      </div>

      <div class="layout-row layout-align-center menu-header-actions">
        {{#menu.item dismissOnClick=false}}
          {{#paper-button noink=true primary=true onClick=(route-action 'signOut')}}
            Sign out
          {{/paper-button}}
        {{/menu.item}}
      </div>
    </div>

    {{paper-divider}}
  {{else}}
    <div class="layout-row layout-align-center gravatar-header-placeholder">
      {{paper-icon "account-circle"}}
    </div>

    <div class="layout-row layout-align-center">
      {{#menu.item dismissOnClick=false}}
        {{#paper-button raised=true onClick=(route-action 'signIn' 'google')}}
          Sign in
        {{/paper-button}}
      {{/menu.item}}
    </div>
  {{/if}}
  </div>
