{{#super-center class="thermostat-ui"}}
  {{#super-center}}
    <h1 class="thermostat-current-temperature breathing {{breathingTextClass}}">{{currentTemperature}}</h1>
    <div class="thermostat-weather-icon">
      {{paper-icon weatherIcon size=48}}
    </div>
  {{/super-center}}

  <div class="thermostat-controls-wrapper layout-row layout-align-center-stretch">
    <div class="thermostat-controls flex-xs-90 flex-sm-50 flex-md-40 flex-gt-md-33 ">
      {{paper-slider
        class="flex md-accent thermostat-target-temperature-slider"
        min=50
        max=85
        value=targetTemperature
        onChange=(action (mut targetTemperature))}}
      {{paper-input disabled=true class="thermostat-target-temperature-input" type="number" value=targetTemperature onChange=(action (mut targetTemperature))}}
    </div>
  </div>
{{/super-center}}
