<div class="container">
  {{#if hasEmptyCart}}
    <p>no items. {{link-to "shop" "browse.products.index"}}</p>
  {{else}}
    <table class="table">
      <thead>
        <tr>
          <th><h1 class="h3">shopping cart</h1></th>
          <th>quantity</th>
          <th>price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each cartItems as |cartItem|}}
          <tr>
            <td>
              {{#link-to "browse.products.view" cartItem.product.id}}
                {{cartItem.product.name}} <small>by {{cartItem.product.brand.name}}</small>
              {{/link-to}}
            </td>

            <td>
              {{#x-select value=cartItem.quantity action=(action 'setQuantity' cartItem) as |xs|}}
                {{#xs.option class="dropdown-item" value=1}}1{{/xs.option}}
                {{#xs.option class="dropdown-item" value=2}}2{{/xs.option}}
                {{#xs.option class="dropdown-item" value=3}}3{{/xs.option}}
                {{#xs.option class="dropdown-item" value=4}}4{{/xs.option}}
                {{#xs.option class="dropdown-item" value=5}}5{{/xs.option}}
              {{/x-select}}
            </td>

            <td>
              {{format-currency cartItem.totalPrice unit='cents' showFree=true}}
              {{#unless (eq cartItem.totalPrice 0)}}@ {{format-currency cartItem.product.price unit='cents' showFree=true}}/ea{{/unless}}
            </td>

            <td><a href="/remove/cart-item" {{action "removeFromCart" cartItem}} class="cursor-pointer">remove</a></td>
          </tr>
        {{/each}}
      </tbody>

      <tfoot>
        <tr>
          <td>Total</td>
          <td>{{totalQuantity}}</td>
          <td>{{format-currency (await totalCost) unit='cents' showFree=true}}</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  {{/if}}

</div>
