{{#if hasEmptyCart}}
  <p>no items. {{link-to "shop" "browse.products"}}</p>
{{else}}

<div class="cart-container">
  <table class="collapse w-100">
    <tbody>
      <tr class="striped--light-gray">
        <th class="pv2 ph3 tl f6 fw6 ttu">Product</th>
        <th class="tr f6 ttu fw6 pv2 ph3">Qty</th>
        <th class="tr f6 ttu fw6 pv2 ph3">Item Price</th>
        <th class="tr f6 ttu fw6 pv2 ph3">Price</th>
      </tr>

      {{#each cartItems as |cartItem|}}
      <tr class="striped--light-gray">
        <td class="pv2 ph3">
          {{#link-to "browse.products.view" cartItem.product.id class="link black"}}
            <span class="fw5 f4">{{cartItem.product.name}}</span>
            <span class="fw3"> by {{cartItem.product.brand.name}}</span>
          {{/link-to}}
        </td>

        <td class="pv2 ph3 tr">
          {{#x-select value=cartItem.quantity action=(action 'setQuantity' cartItem) as |xs|}}
            {{#xs.option class="dropdown-item" value=0}}0{{/xs.option}}
            {{#xs.option class="dropdown-item" value=1}}1{{/xs.option}}
            {{#xs.option class="dropdown-item" value=2}}2{{/xs.option}}
            {{#xs.option class="dropdown-item" value=3}}3{{/xs.option}}
            {{#xs.option class="dropdown-item" value=4}}4{{/xs.option}}
            {{#xs.option class="dropdown-item" value=5}}5{{/xs.option}}
          {{/x-select}}
        </td>

        <td class="tr pr2">
          {{format-currency cartItem.product.price unit='cents' showFree=true}}
        </td>

        <td class="tr pr2">
          {{format-currency cartItem.totalPrice unit='cents' showFree=true}}
        </td>
      </tr>
      {{/each}}

      <tr class="bb b--light-silver w-100">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td class="tr pr2 bt2 pt4">Est. tax</td>
        <td class="tr pr2 pt4">{{format-currency 0 unit='cents' showFree=false}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="bt1 b pb4">Bag Subtotal</td>
        <td class="tr pr2 pb4">{{format-currency (await totalCost) unit='cents' showFree=true}}</td>
      </tr>
    </tfoot>
  </table>
  </div>

<a href="#" class="fixed right-1 left-1 bottom-1 hk-button--primary apple-pay pa3 f1">Buy with Apple Pay</a>
{{/if}}
