<div class="container">
  <h1>cart</h1>
  <p class="text-muted">Two-hour delivery of in-stock items in some locations for only $9. See checkout for availability.</p>

  {{#unless cartItems.length}}
    <p>no items. {{link-to "shop" "browse.products.index"}}</p>
  {{else}}
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>quantity</th>
          <th>price</th>
          <th>remove</th>
        </tr>
      </thead>
      <tbody>
        {{#each cartItems as |cartItem|}}
          <tr>
            <td>{{link-to cartItem.product.name "browse.products.view" cartItem.product.id}}</td>
            <td>{{cartItem.quantity}}</td>
            <td>$25.00</td>
            <td><span {{action "deleteRecord" cartItem}}><i class="fa fa-trash"></i> delete</span></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/unless}}


</div>
