<div class="container">
  {{#unless model.length}}
    <p>no items. {{link-to "shop" "browse.products.index"}}</p>
  {{else}}
    <table class="table">
      <thead>
        <tr>
          <th><h1 class="h3">shopping cart</h1></th>
          <th>quantity</th>
          <th>price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |cartItem|}}
          <tr>
            <td>
              {{#link-to "browse.products.view" cartItem.product.id}}
                {{cartItem.product.name}} <small>by {{cartItem.product.brand.name}}</small>
              {{/link-to}}
            </td>
            <td>
              <select onchange={{action (mut cartItem.quantity) value="target.value"}} class="" name="">
                <option selected={{eq cartItem.quantity 1}} value="1">1</option>
                <option selected={{eq cartItem.quantity 2}} value="2">2</option>
                <option selected={{eq cartItem.quantity 3}} value="3">3</option>
                <option selected={{eq cartItem.quantity 4}} value="4">4</option>
                <option selected={{eq cartItem.quantity 5}} value="5">5</option>
              </select>
            </td>
            <td>$25.00</td>
            <td><a href="/remove/cart-item" {{action "destroyRecord" cartItem}} class="cursor-pointer">remove</a></td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td></td>
          <td>{{totalPrice}}</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  {{/unless}}
</div>
