<div class="container">
  {{#unless model.length}}
    <p>no items. {{link-to "shop" "browse.products.index"}}</p>
  {{else}}
    <table class="table">
      <thead>
        <tr>
          <th><h1 class="h3">shopping cart</h1></th>
          <th>quantity</th>
          <th>price</th>
          <th>remove</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |cartItem|}}
          <tr>
            <td>
              {{#link-to "browse.products.view" cartItem.product.id}}
                {{cartItem.product.name}} <small>by {{cartItem.product.brand.name}}</small>
              {{/link-to}}
            </td>
            <td>{{cartItem.quantity}}</td>
            <td>$25.00</td>
            <td><span {{action "destroyRecord" cartItem}}>delete</span></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/unless}}


</div>
