<ul>
  <li>model: {{model.device.model}}</li>
  <li>serial: {{model.device.serial}}</li>
  <li>last contacted: {{model.device.contactedAt}}</li>
</ul>

<ul>
  <li>raw: {{model.device.schedule.value}}</li>
  <li>temperatureOffset: {{model.device.schedule.temperatureOffset}}</li>
  <li>activeAt: {{model.device.schedule.activeAt}}</li>
  <li>onDay: {{model.device.schedule.onDay}}</li>
</ul>
