<div class="container">
  <div class="row">
    <div class="col">
      <header class="mb-5">
        <h1>{{product.name}} by {{product.brand.name}}</h1>
        {{rating-bar progress=95}}
        <span class="text-muted">
          4.4 | 8385 reviews
        </span>
      </header>
      <form class="form-inline">
        <div class="form-group mb-2">
          <label for="quantity">Quantity</label>
          {{#x-select id="quantity" name="productQuantity" value=quantity action=(action 'updateQuantity') as |xs|}}
            {{#xs.option value=1}}1{{/xs.option}}
            {{#xs.option value=2}}2{{/xs.option}}
            {{#xs.option value=3}}3{{/xs.option}}
            {{#xs.option value=4}}4{{/xs.option}}
            {{#xs.option value=5}}5{{/xs.option}}
          {{/x-select}}
        </div>

        <button {{action "addToCart" product (hash quantity=quantity)}} type="button" name="button" class="btn btn-primary">Add to Cart</button>
      </form>
    </div>
    <div class="col">
      {{#carousel-container transitionInterval=300 as |ui controls|}}
        <div class="carousel-body">
          {{#each product.pictures as |item|}}
            {{#ui.item}}
              <img class="img-fluid" src={{item.url}} alt="">
            {{/ui.item}}
          {{else}}
            {{#ui.item}}
              <img class="img-fluid" src="/assets/images/pod-1.jpg" alt="Card image cap">
            {{/ui.item}}
          {{/each}}
        </div>
        {{#if (gt product.pictures.length 1)}}
          <button onclick={{controls.previous}}>
            {{fa-icon "chevron-left"}}
          </button>
          <button onclick={{controls.next}}>
            {{fa-icon "chevron-right"}}
          </button>
        {{/if}}
      {{/carousel-container}}
    </div>
  </div>
</div>
<div class="container mt-3">
  <ul class="nav nav-tabs mb-2">
    <li class="nav-item">
      {{link-to "Strain info" "browse.products.view.index" class="nav-link"}}
    </li>
    <li class="nav-item">
      {{link-to "Benefits" "browse.products.view.benefits" class="nav-link"}}
    </li>
    <li class="nav-item">
      {{link-to "Reviews (8385)" "browse.products.view.reviews" class="nav-link"}}
    </li>
    <li class="nav-item">
      {{link-to "Photos (436)" "browse.products.view.photos" class="nav-link"}}
    </li>
  </ul>
  {{outlet}}
</div>
