<div class="flex flex-column items-end pt3 pr2">
  {{#link-to "browse.products.view.reviews" class="link"}}
    {{rating-bar progress=95}}
  {{/link-to}}
</div>

<h2 class="shadow-outer-3 ma0 pa2 pt0">
  <span class="f1 fw8">{{product.name}}</span>
  <span class="f3 fw4">by {{product.brand.name}}</span>
</h2>

<div class="product-view-images">
  <div class="products">
    {{#each images as |image|}}
      <img src="{{image.url}}" alt="">
    {{/each}}
  </div>
</div>

<script type="text/javascript">
  new ClipboardJS('.btn');
</script>

<div class="flex flex-column">
  <button {{action "addToCart" cart product}}
          type="button"
          name="button"
          class="flex-auto items-center hk-button--primary ma2">
          Add to Cart
  </button>
  <button {{action "copyLink"}}
          type="button"
          name="button"
          class="btn flex-auto items-center purple b--light-purple hk-button--secondary mh2">
          Share
        </button>
</div>

<div class="flex items-center justify-center shadow-outer-3">
  <div class="hk-tabs flex-auto">
    {{link-to "Strain" "browse.products.view.photos" class="f5 hk-tabs__tab" ignore_children="true"}}
    {{link-to "Benefits" "browse.products.view.benefits" class="f5 hk-tabs__tab" ignore_children="true"}}
    {{link-to "Reviews" "browse.products.view.reviews" class="f5 hk-tabs__tab" ignore_children="true"}}
    <!-- {{link-to "Availability" "cart" class="f5 hk-tabs__tab" ignore_children="true"}} -->
    <a href="#" class="f5 hk-tabs__tab">Availability</a>
    <div class="spacer flex-auto bb b--light-silver"></div>
  </div>
</div>
