<div class="container">
  <div class="row">
    <div class="col">
      <header class="mb-5">
        <h1>{{model.name}} by {{model.brand.name}}</h1>
        {{rating-bar progress=95}}
        <span class="text-muted">
          4.4 | 8385 reviews
        </span>
      </header>
      <form class="form-inline">
        <div class="form-group mb-2">
          <label for="quantity">Quantity</label>
          <select id="quantity" name="productQuantity" onchange={{action (mut quantity) value="target.value"}}>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <button {{action "addToCart" model (hash quantity=quantity)}} type="button" name="button" class="btn btn-primary">Add to Cart</button>
      </form>
    </div>
    <div class="col">
      {{#carousel-container transitionInterval=300 as |ui controls|}}
        <div class="carousel-body">
          {{#each model.pictures as |item|}}
            {{#ui.item}}
              <img class="img-fluid" src={{item.url}} alt="">
            {{/ui.item}}
          {{else}}
            {{#ui.item}}
              <img class="img-fluid" src="/assets/images/pod-1.jpg" alt="Card image cap">
            {{/ui.item}}
          {{/each}}
        </div>
        {{#if (gt model.pictures.length 1)}}
          <button onclick={{controls.previous}}>
            <i class="fa fa-chevron-left"></i>
          </button>
          <button onclick={{controls.next}}>
            <i class="fa fa-chevron-right"></i>
          </button>
        {{/if}}
      {{/carousel-container}}
    </div>
  </div>
</div>
<div class="container mt-3">
  <ul class="nav nav-tabs mb-2">
    <li class="nav-item">
      {{link-to "Strain info" "browse.products.view.index" class="nav-link"}}
    </li>
    <li class="nav-item">
      {{link-to "Benefits" "browse.products.view.benefits" class="nav-link"}}
    </li>
    <li class="nav-item">
      {{link-to "Reviews (8385)" "browse.products.view.reviews" class="nav-link"}}
    </li>
    <li class="nav-item">
      {{link-to "Photos (436)" "browse.products.view.photos" class="nav-link"}}
    </li>
  </ul>
  {{outlet}}
</div>
