{{#if session.isAuthenticated}}
  <nav class="navbar navbar-expand-lg navbar-light">
    {{#link-to "authenticated" class="navbar-brand"}}{{fa-icon "leaf"}} TopPot{{/link-to}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          {{#link-to "authenticated" class="nav-link"}}Home <span class="sr-only">(current)</span>{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "authenticated.cms" class="nav-link"}}CMS{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "products" class="nav-link"}}Products{{/link-to}}
        </li>
      </ul>
      <div class="navbar-nav navbar-right">
        <li class="nav-item">
          {{#link-to "cart" class="nav-link"}}{{fa-icon "shopping-cart"}} Cart ({{model.cartItems.length}}){{/link-to}}
        </li>
        <li class="nav-item">

        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{model.user.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href='/sign-out' {{action (route-action 'signOut')}}>Sign out</a>
        </div>
      </li>
      </div>
    </div>
  </nav>
{{/if}}
{{outlet}}
