<h2>new product</h2>
<p>A product is made by a brand and sold by a vendor.</p>

<div class="container x-form">
  <div class="row">
    <div class="col">
      {{x-input value=newProduct.name placeholder="name" label="name"}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{x-input value=newProduct.description type="text" placeholder="description" label="description"}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>brand</label>
      {{#x-select value=newProduct.brand as |xs|}}
        {{#each brands as |brand|}}
          {{#xs.option value=brand}}{{brand.name}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>
</div>

<button class="btn btn-primary" type="button" {{action (route-action "saveRecord" newProduct)}}>Create</button>

<hr>

<h2>products</h2>
<ul>
  {{#each products as |product|}}
    <li>{{product.name}} -- <a href="#" {{action "deleteProduct" product}}>delete</a></li>
  {{/each}}
</ul>
