  <div class="bg-white shadow-outer-1 br2 flex flex-column items-center pa3">
    <img class="br2 h5 mb2" src={{{imageSrc}}} alt="">

    <div class="dark-gray f4 b">{{format-currency product.price unit='cents' showFree=true}}</div>
    <div class="fw5 f5 mt2 mb1 black">{{product.name}}</div>
    <div class="f5 dark-gray">{{product.brand.name}}</div>

    <div class="flex flex-column mt2">
      <button
        href="#"
        class="hk-button-sm--primary mh1"
        {{action "addToCart" cart product}}>
        Add to Cart
      </button>
      <!-- <a href="#" class="link purple ph2 pv1 ba b--light-purple br1 mh1">Subscribe and Save</a> -->
    </div>
  </div>
