<h2>new vendor</h2>
<p>A vendor is a company that sells products made by a brand.</p>

<div class="container x-form">
  <div class="row">
    <div class="col">
      {{x-input value=newVendor.name placeholder="name" label="name"}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{x-input value=newVendor.url placeholder="url" label="url"}}
    </div>
  </div>

  {{location-form record=newVendor}}

  <div class="row">
    <div class="col">
      <label>products</label>
      {{#x-select value=newVendor.products multiple=true as |xs|}}
        {{#each products as |product|}}
          {{#xs.option value=product}}{{product.name}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>
</div>

<button class="btn btn-primary" type="button" {{action "saveVendor" newVendor}}>Save</button>
