<h2>new vendor</h2>
<p>A vendor is a company that sells products made by a brand.</p>

<div class="container x-form">
  <div class="row">
    <div class="col">
      {{x-input value=newVendor.name placeholder="name" label="name"}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{x-input value=newVendor.description placeholder="description" label="description"}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{x-input value=newVendor.url placeholder="url" label="url"}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{x-input value=newVendor.location.street1 placeholder="Street" label="street"}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{x-input value=newVendor.location.street2 placeholder="Street (continued)" label="street (continued)"}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{x-input value=newVendor.location.zip placeholder="zip code" label="zip code" maxlength=5 type="number"}}
    </div>
    <div class="col">
      {{x-input value=newVendor.location.state placeholder="state" label="state"}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>products</label>
      {{#x-select value=newVendor.products multiple=true as |xs|}}
        {{#each products as |product|}}
          {{#xs.option value=product}}{{product.name}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>
</div>

<button type="button" {{action "saveVendor" newVendor}}>Save</button>

<hr>

<h2>vendors</h2>
{{#each vendors as |vendor|}}
  <li>{{#link-to 'authenticated.cms.vendor' vendor.id}}{{vendor.name}}{{/link-to}}</li>
{{/each}}
