{{#mdl-nav title='connected.AF' fixedHeader=false}}
  {{!-- {{mdl-nav-item name='Buttons'   route='buttons'}}
  {{mdl-nav-item name='Tabs'      route='tabs'}}
  {{mdl-nav-item name='Nav'       route='navs'}} --}}
  {{!-- {{mdl-nav-item name='Nav'}} --}}

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      {{#mdl-card title='Account'}}
        <div class="mdl-card__supporting-text">
          {{#if session.isAuthenticated}}
            Logged in as {{session.currentUser.name}}
          {{/if}}
        </div>

        {{#mdl-card-actions}}
          {{#if session.isAuthenticated}}
            {{mdl-button action=(route-action 'signOut') text='Sign out'}}
          {{else}}
            {{mdl-button isRaised=true action=(route-action 'signIn' 'google') text='Sign in with Google'}}
          {{/if}}
        {{/mdl-card-actions}}
      {{/mdl-card}}


      {{#if (is-pending session.currentUser.devices)}}
        {{#mdl-card}}
          {{mdl-spinner}}
        {{/mdl-card}}
      {{/if}}

      {{#if (await session.currentUser.devices)}}
        {{#each session.currentUser.devices as |device| }}
          {{#mdl-card title=device.name}}
            <div class="mdl-card__supporting-text">
              <ul>
                <li>model: {{device.model}}</li>
                <li>serial: {{device.serial}}</li>
                <li>last contacted: {{device.contactedAt}}</li>
              </ul>
            </div>
          {{/mdl-card}}

          {{#mdl-card title="Schedule"}}
            <div class="mdl-card__supporting-text">
              <ul>
                <li>raw: {{device.schedule.value}}</li>
                <li>temperatureOffset: {{device.schedule.temperatureOffset}}</li>
                <li>activeAt: {{device.schedule.activeAt}}</li>
                <li>onDay: {{device.schedule.onDay}}</li>
              </ul>
            </div>
            {{#mdl-card-actions}}
              {{mdl-button action=(route-action 'updateSchedule' device) text='Update'}}
            {{/mdl-card-actions}}
          {{/mdl-card}}
        {{/each}}
      {{/if}}

      {{outlet}}
    </div>
  </div>
{{/mdl-nav}}
