{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.name}}
  <button {{action "signOut"}}>Sign out</button>
  {{outlet}}
{{else}}
  <button {{action "signIn" "google"}}>Sign in with Google</button>
{{/if}}

{{outlet}}

{{#each session.currentUser.devices as |device| }}
  <h1>{{device.name}}</h1>
  <ul>
    <li>model: {{device.model}}</li>
    <li>serial: {{device.serial}}</li>
    <li>last contacted: {{device.contactedAt}}</li>
  </ul>

  <h2>schedule</h2>
  <ul>
    <li>raw: {{device.schedule.value}}</li>
    <li>temperatureOffset: {{device.schedule.temperatureOffset}}</li>
    <li>activeAt: {{device.schedule.activeAt}}</li>
    <li>onDay: {{device.schedule.onDay}}</li>
  </ul>
{{/each}}
