{{#burger-menu animation='slide' translucentOverlay=false as |burger|}}
  {{#burger.menu itemTagName="div" dismissOnItemClick=true as |menu|}}
    {{burger-menu-header menu=menu close=burger.state.actions.close user=session.currentUser}}
    {{burger-menu-body menu=menu user=session.currentUser devices=session.currentUser.devices }}
  {{/burger.menu}}

  {{#burger.outlet}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        {{#paper-button iconButton=true onClick=burger.state.actions.toggle}}
          {{paper-icon "menu"}}
        {{/paper-button}}

        <h2>
          ThermHAL 9000
        </h2>

        <span class="flex"></span>
        
        {{#paper-button iconButton=true onClick=(route-action "transitionTo" "/")}}
          {{paper-icon "home"}}
        {{/paper-button}}

        {{#paper-button iconButton=true}}
          {{paper-icon "more_vert"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    <div class="root-outlet layout-column flex">{{outlet}}</div>
  {{/burger.outlet}}
{{/burger-menu}}
