<ul>
  <li><a href="#" {{action (mut form) "brand"}}>brand</a></li>
  <li><a href="#" {{action (mut form) "dispensary"}}>dispensary</a></li>
  <li><a href="#" {{action (mut form) "picture"}}>picture</a></li>
  <li><a href="#" {{action (mut form) "vendor"}}>vendor</a></li>
  <li><a href="#" {{action (mut form) "product"}}>product</a></li>
</ul>

{{#if (eq form "brand")}}
  <h1>brand</h1>
  <div style="background:yellow;">
    {{fancy-input value=newBrand.name placeholder="name" label="name" type="input"}}

    <label>products</label>
    {{#x-select value=brand.products multiple=true as |xs|}}
      {{#each products as |product|}}
        {{#xs.option value=product}}{{product.name}}{{/xs.option}}
      {{/each}}
    {{/x-select}}

    <button type="button" {{action "saveBrand" newBrand}}>Create</button>
  </div>
{{/if}}

{{#if (eq form "dispensary")}}
  <h1>new dispensary</h1>
  <div style="background:green;">
    {{fancy-input value=newDispensary.name placeholder="name" label="name"}}
    {{fancy-input value=newDispensary.location.street1 placeholder="Street" label="street"}}
    {{fancy-input value=newDispensary.location.zip placeholder="zip code" label="zip code" maxlength=5}}

    <button type="button" {{action "saveDispensary" newDispensary}}>Create</button>
  </div>
{{/if}}

{{#if (eq form "picture")}}
  <h1>picture</h1>
  <div style="background:black;">
    // TODO
  </div>
{{/if}}

{{#if (eq form "vendor")}}
  <h1>vendor</h1>
  <div style="background:teal;">
    {{fancy-input value=newVendor.name placeholder="name" label="name"}}
    {{fancy-input value=newVendor.description placeholder="description" label="description"}}
    {{fancy-input value=newVendor.url placeholder="url" label="url"}}
    {{fancy-input value=newVendor.location.street1 placeholder="Street" label="street"}}
    {{fancy-input value=newVendor.location.zip placeholder="zip code" label="zip code" maxlength=5}}

    <label>products</label>
    {{#x-select value=newVendor.products multiple=true as |xs|}}
      {{#each products as |product|}}
        {{#xs.option value=product}}{{product.name}}{{/xs.option}}
      {{/each}}
    {{/x-select}}

    <button type="button" {{action "saveVendor" newVendor}}>Create</button>
  </div>
{{/if}}

{{#if (eq form "product")}}
  <h1>product</h1>
  <div style="background:purple;">
    {{fancy-input value=newProduct.name placeholder="name" label="name"}}
    {{fancy-input value=newProduct.description type="text" placeholder="description" label="description"}}

    <label>brand</label>
    {{#x-select value=newProduct.brand as |xs|}}
      {{#each brands as |brand|}}
        {{#xs.option value=brand}}{{brand.name}}{{/xs.option}}
      {{/each}}
    {{/x-select}}

    <button type="button" {{action "saveProduct" newProduct}}>Create</button>
  </div>
{{/if}}
