{{input
    class="br1 b--solid ba b--gray pa3"
    type="text"
    value=query
    key-up='didPressKey'
    id="search-field"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    placeholder="What are you looking for?"
    focus-out="didLoseFocus"
    focus-in="didFocusIn"
  }}

{{#if showSearchResults}}
<div class="absolute wikiwiki-search-results shadow-1 br1 mh2">
  <ul class="ph0 mv0">
    {{#each filteredResults as |result|}}
      <li class="truncate bg-lightest-silver bt bb b--silver f3 flex" {{action 'didClickResult' result}}>
        {{#link-to result.viewRoute result.id class="no-underline dark-gray pa2 w-100"}}
          {{result.icon}} {{result.name}}
        {{/link-to}}
      </li>
    {{else}}
      <li class="truncate bg-lightest-silver bt bb b--silver f3 flex">
        {{#link-to "browse.products" (query-params brand=null dispensary=null) class="no-underline dark-gray pa2 w-100"}}
          {{fa-icon "tree" class="mh2"}} shop for products
        {{/link-to}}
      </li>

      <li class="truncate bg-lightest-silver bt bb b--silver f3 flex">
        {{#link-to "browse.vendors" class="no-underline dark-gray pa2 w-100"}}
          {{fa-icon "road" class="mh2"}} find a dispensary
        {{/link-to}}
      </li>

      <li class="truncate bg-lightest-silver bt bb b--silver f3 flex">
        {{#link-to "cart" class="no-underline dark-gray pa2 w-100"}}
          {{fa-icon "shopping-cart" class="mh2"}} view cart
        {{/link-to}}
      </li>

      <li class="truncate bg-lightest-silver bt bb b--silver f3 flex">
        {{#link-to "cart" class="no-underline dark-gray pa2 w-100"}}
          {{fa-icon "truck" class="mh2"}} past orders
        {{/link-to}}
      </li>

      <li class="truncate bg-lightest-silver bt bb b--silver f3 flex">
        {{#link-to "cart" class="no-underline dark-gray pa2 w-100"}}
          {{fa-icon "user-circle" class="mh2"}} my account
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
{{/if}}
